html
  head
    script(src="https://cdn.tailwindcss.com")
  body.p-6.text-gray-600
    each result in results
      details.mb-8
        summary
            span.text-xl #{result.fileName}            
            span.ml-4.bg-gray-200.p-1.px-4.border-gray-300.border-2.rounded-full
                | #{result.messages.length}
            br
            a.text-blue-300(href="vscode://file/" + result.filePath) #{result.filePath} (vscodeで開く)
        div.p-4
          table.border-collapse.w-full
            each message in result.messages
              tr
                td.text-right.p-2.border-gray-200.border-2.bg-gray-50.align-top(class="w-20")
                  input(type="checkbox").mr-1
                  | #{message.line}
                td.p-2.border-gray-200.border-2.align-top
                  | #{files[result.fileName].lines[message.line - 1]}
              tr.border-gray-200.border-2.bg-yellow-50.font-bold
                td.p-3(colspan="2")
                  | #{message.message}